node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env
.env.dev
.env.local
.env.*.local
.DS_Store
*.log
.vscode
.idea
coverage
.jest
yarn-error.log
.dockerignore
Dockerfile
docker-compose.yml
.eslintrc.js
.prettierrc
biome.json
jest.config.js
dist
*.tsbuildinfo