name: Build e Push Manual (Docker)

# Aqui definimos que só roda quando você clicar no botão
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Tag da Versão (ex: v1, latest)'
        required: true
        default: 'latest'

jobs:
  build-push:
    runs-on: ubuntu-latest # O GitHub empresta uma máquina Linux pra gente

    steps:
      # Passo 1: Baixar o código do seu repositório
      - name: Checkout do código
        uses: actions/checkout@v3

      # Passo 2: Logar no Docker Hub usando as senhas do Passo 2
      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Passo 3: Configurar o Docker Buildx (Ferramenta avançada de build)
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Passo 4: Criar a imagem e mandar para o Hub
      - name: Build e Push
        uses: docker/build-push-action@v4
        with:
          context: . # Onde está o Dockerfile? (Ponto = raiz)
          push: true
          # Substitua 'seu-usuario/seu-repo' pelo nome real do seu repo no Docker Hub
          tags: lucasdias067/my-private-repository:${{ inputs.version }}