name: Build e Push Manual (Docker)

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Tag da Versão (ex: v1, latest)'
        required: true
        default: 'latest'

jobs:
  # JOB 1: Roda na Microsoft (Cria a imagem)
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build e Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Usamos a tag que você digitar no input
          tags: lucasdias067/my-private-repository:${{ inputs.version }}

  # JOB 2: Roda na Sua Casa (Sobe o container)
  deploy-local:
    needs: build-push        # Só roda se o Job 1 der certo
    runs-on: self-hosted     # <--- Mágica: Roda no seu container github-runner
    
    # Define variáveis de ambiente para o docker-compose usar
    env:
      IMAGE_TAG: ${{ inputs.version }}
      
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3
        # O runner baixa o docker-compose.yml mais novo do seu repo

      - name: Login no Docker Hub (Necessário pois o repo é privado)
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Atualizar Aplicação
        run: |
          # 1. Garante que baixamos a imagem nova que acabou de ser criada
          docker compose pull
          
          # 2. Sobe o container (recriando se mudou algo)
          # O comando -d libera o terminal
          # O --remove-orphans limpa containers velhos que não estão mais no arquivo
          docker compose up -d --remove-orphans
          
          # 3. Limpeza de disco (opcional) - remove imagens antigas sem uso
          docker image prune -f
