name: Build e Push Manual (Docker)

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Tag da Versão (ex: v1, latest)'
        required: true
        default: 'latest'

jobs:
  # JOB 1: Roda na Microsoft (Cria a imagem)
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3
      # - name: Login no Docker Hub
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login no GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PASSWORD }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build e Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/finance-app:${{ inputs.version }}
          build-args: |
            NEXT_PUBLIC_API_URL=${{ vars.NEXT_PUBLIC_API_URL }}
            NEXT_PUBLIC_AVATAR_URL=${{ vars.NEXT_PUBLIC_AVATAR_URL }}
            NEXT_PUBLIC_BASE_PATH=${{ vars.NEXT_PUBLIC_BASE_PATH }}

  # JOB 2: Roda na Sua Casa (Sobe o container)
  deploy-local:
    needs: build-push        
    runs-on: [self-hosted, Linux, X64]     # <--- Mágica: Roda no seu container github-runner
    env:
      IMAGE_TAG: ${{ inputs.version }}
      OWNER_REPO: ${{ github.repository_owner }}
      NEXTAUTH_URL: ${{ vars.NEXTAUTH_URL }}
      NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
      AI_GATEWAY_API_KEY: ${{ secrets.AI_GATEWAY_API_KEY }}
      
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3
      # - name: Login no Docker Hub (Necessário pois o repo é privado)
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login no GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PASSWORD }} # Usando o Token Clássico

      - name: Atualizar Aplicação
        run: |
          docker compose pull
          docker compose up -d --remove-orphans
          docker image prune -f

